.grid {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  width: 400px;
  gap: 1rem;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-40%);
}

body {
  text-align: center;
}

img:hover {
  cursor: pointer;
}
